@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #24262b;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {  
  font-weight: 800;
}

.logo {
  margin: 70px 0 65px;
  font-size: 30px;
  font-weight: 800;
  border: 4px solid #fff;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
}

.banner h1,
.banner h2 {
  margin: 0;
}

.banner h1 {
  letter-spacing: -4px;
  word-spacing: -1px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.banner h1 strong {
  color: #00f;
}

.banner h2,
.banner .assinatura {
  word-spacing: .5px;
  color: #727682;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.banner .assinatura {
  color: #fff;
  margin-top: 60px;
}